* {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  margin: 0;
}
/* --- LOGIN PAGE - MOBILE --- */

.container {
  width: 90%;
  margin: 0 auto;
}

.sign_up,
.login {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
}

.sign_up {
  opacity: 0.5;
}

.sign_up--display,
.login--display {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sign_up--heading,
.login--heading {
  text-align: center;
  margin-bottom: 10px;
}

.sign_up--h1,
.login--h1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}

#sign_up--form,
#login--form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#sign_up--form input[type='text'],
#sign_up--form input[type='email'],
#sign_up--form input[type='password'],
#login--form input[type='text'],
#login--form input[type='email'],
#login--form input[type='password'] {
  margin: 5px 0;
  padding: 10px 5px;
  border: 2px solid black;
}

.submit_container,
.login_container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#sign_up_submit,
#login_submit {
  width: 150px;
  height: 40px;
  background-color: lightseagreen;
  border: none;
  border-radius: 20px;
}

.login--returning_user,
.login--new_user {
  text-align: center;
  margin: 20px;
}

.login--returning_user p,
.login--new_user p {
  font-size: 1rem;
}

.login--link,
.login--sign_up--link {
  color: coral;
  font-weight: 700;
}

.toBottom {
  animation: mobile_toBottom 1s 1 forwards;
}

.animate-2 {
  animation: mobile_fromTop 1s 1 forwards;
}

.toTop {
  animation: mobile_toBottom 1s 1 forwards reverse;
}

.animate-3 {
  animation: mobile_fromTop 1s 1 forwards reverse;
}

/* --- KEYFRAMES --- */

@keyframes mobile_toBottom {
  0% {
    transform: translate(0%, 0%);
    opacity: 1;
    z-index: 0;
  }
  100% {
    transform: translate(0%, 100%);
    opacity: 0;
    z-index: 1;
  }
}

@keyframes mobile_fromTop {
  0% {
    transform: translate(0%, -200%);
    opacity: 0;
    overflow-y: scroll;
  }
  100% {
    transform: translate(0%, -100%);
    opacity: 1;
    overflow-y: hidden;
  }
}

/* --- MEDIA QUERIES --- */
/* 
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  body {
    display: flex;
    justify-content: center;
  }

  .container {
    width: 80%;
  }

  .sign_up,
  .login {
    width: 50%;
    height: 100vh;
    margin: 0;
    padding: 0;
  }

  .sign_up {
    opacity: 1;
  }

  .sign_up-background_color {
    background-color: lightsalmon;
    width: 100%;
    height: 100%;
  }

  .login-background_color {
    background-color: lightblue;
    width: 100%;
    height: 100%;
  }

  .toBottom {
    animation: mobile_toBottom 2s 1 forwards;
  }

  .animate-2 {
    animation: mobile_fromTop 1s 1 forwards;
  }

  .toTop {
    animation: mobile_toBottom 1s 1 forwards reverse;
  }

  .animate-3 {
    animation: mobile_fromTop 1s 1 forwards reverse;
  }

  /* --- KEYFRAMES --- */

  @keyframes mobile_toBottom {
    0% {
      transform: translate(0%, 0%);
      opacity: 1;
      z-index: 0;
    }
    100% {
      transform: translate(100%, 0%);
      opacity: 0;
      z-index: 1;
    }
  }

  @keyframes mobile_fromTop {
    0% {
      transform: translate(0%, -200%);
      opacity: 0;
      overflow-y: scroll;
    }
    100% {
      transform: translate(0%, -100%);
      opacity: 1;
      overflow-y: hidden;
    }
  }

  /* --- PROFILE PAGE --- */

  .profile--container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);
    height: 100vh;
    width: 100%;
    grid-gap: 10px;
  }

  .profile-heading {
    grid-column: 1 / 11;
  }

  .side-menu {
    grid-column: 1 / 3;
    grid-row: 2 / 7;
    background-color: coral;
  }

  .chart {
    grid-column: 3 / 11;
    grid-row: 2 / 7;
    background-color: coral;
  }
  .details--container {
    grid-column: 3 / 11;
    grid-row: 7 / 8;
    display: flex;
    justify-content: space-between;
  }

  .details--container div {
    height: 100%;
    width: 30%;

    background-color: coral;
  }
}

/* // Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */
